@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;0,600;1,100;1,500;1,600&display=swap');

:root {
    --body: #1A0D1C;
    --gray: #9fa0a9;
    --dark-grey: #5c5c67;
}

body {
    background-color: var(--body);
}

.font {
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 50%;
}
